---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import FeaturedProductsSection from "../components/FeaturedProductsSection.astro";
import LatestProductsSection from "../components/LatestProductsSection.astro";
import LatestBlogsSection from "../components/LatestBlogsSection.astro";
import { getCollection } from 'astro:content';

const BASE_URL  = import.meta.env.BASE_URL;

// Get products and blog posts from content collections
const allProducts = await getCollection('products');
const allBlogPosts = await getCollection('blog');

// Filter and sort products
const featuredProducts = allProducts
  .filter(product => product.data.featured)
  .sort((a, b) => new Date(b.data.createdAt).getTime() - new Date(a.data.createdAt).getTime())
  .slice(0, 3);

const latestProducts = allProducts
  .filter(product => !product.data.featured)
  .sort((a, b) => new Date(b.data.createdAt).getTime() - new Date(a.data.createdAt).getTime())
  .slice(0, 6);

// Filter and sort blog posts
const latestBlogs = allBlogPosts
  .filter(post => !post.data.draft)
  .sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime())
  .slice(0, 5);
---

<BaseLayout pageTitle="Home">
  <Hero
    title="Welcome to <span class='text-green-600'>Afirel Shop</span>"
    subtitle="Curated Amazon Products, Chosen With Care. I help you choose. You buy on Amazon."
    ctaPrimaryText="Browse Curated Pick"
    ctaPrimaryLink={`${BASE_URL}products`}
    ctaSecondaryText="Learn More"
    ctaSecondaryLink={`${BASE_URL}about`}
  />

  {featuredProducts.length > 0 &&
    <FeaturedProductsSection products={featuredProducts} />
  }

  {latestProducts.length > 0 &&
    <LatestProductsSection products={latestProducts} />
  }

  {latestBlogs.length > 0 &&
    <LatestBlogsSection blogs={latestBlogs} />
  }
</BaseLayout>
